* {
    margin:0px;
    padding:0px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Albert Sans', sans-serif;
    text-align: left;
}

:root {
    --white:#fff;
    --beige: #F4F1F1;
    --black90: #161616;
    --gray10: #b2b2b2;
    --primary-color: #00883F;
    --primary-color-darker: #005829;
}

h1 {
    font-size: 3srem;
    font-weight: 500;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

body {
    background-color: var(--white);
}

.navbar {
    background-color: #D8F5DE!important;
    color:var(--black90);
    fill:var(--black90);
    margin-bottom:2rem;
}

.navbar svg path {
    stroke:var(--black90);
}

.navbar a, .navbar button {
    color:var(--black90);
}
.navbar a:hover, .navbar button:hover {
    color:var(--black90);
}


.pet-card {
    max-width: 300px;
    padding: 1rem;
    margin: 1rem;
    background-color:var(--beige) ;
    border: 0.5px solid var(--gray10);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.pet-card h3 {
    margin-top:0.5rem;
    color:var(--primary-color-darker);
}

.item-list-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}

.item-detail-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}

.item-detail { 
    display: flex;
}

.loading-items {
    margin: auto;
}

.picture-container img {
    aspect-ratio: 1 / 1;
    border-radius:5px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.button-filters .btn {
    margin-right: 10px;
}

.btn-primary {
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
    color:var(--white);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-color-darker);
    border:1px solid var(--primary-color-darker);
    color:var(--white);
}

.btn-primary:hover, .btn-primary:focus {
    border:1px solid var(--primary-color-darker);
    color:var(--white);
}

.btn-secondary {
    background-color: var(--white);
    border:1px solid var(--black90);
    color:var(--black90);
}

.btn-active {
    border-color:var(--black90);
    color:var(--black90);
    background-color: white;
} 

#loadingscreen {
    background-color:#f2f3f4;
    color:var(--black90);
    height: 100vh;
    margin:auto;
    display: flex;
}

.loadinganimation {
    margin: auto;
}

.footer-container {
    display: flex;
    min-height: 100px;
    background-color: var(--beige);
    margin-top:3rem;
}

.cart-card {
    max-height: 200px;
    background-color: #f2f3f4;
    border: 1px solid var(--gray10);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding:10px;
    margin:10px;
}

.cart-card .picture-container {
    max-width: 200px;
}

.message {
    font-size: 0.85rem;
    line-height: 110%;
    margin:10px 0px;
    padding: 16px;
    border-radius: 5px;
}
.message a {
    font-size: 0.85rem;
    line-height: 110%;
}

.btn-primary.disabled {
    background-color:#b2b2b2;
    border-color:#b2b2b2;
    pointer-events: none;
    opacity: 0.3;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.paymentsection {
    background-color:var(--beige);
}